.chat {
    position: absolute;
    z-index: 100;
    bottom: 180px;
    right: calc(15vw - 80px);
}

.chat img {
    width: 220px;
}

.chat #chat-text {
    position: absolute;
    cursor: pointer;
    left: 40px;
    width: 140px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 60px;
    top: 64px;
    font-family: cursive;
}
