.sharks {
    display: flex;
    align-items: center;
    animation: sharks 40s linear infinite;
    background-repeat: no-repeat;
    top: 10vh;
    position: absolute;
    width: 280px;
    z-index: 10;
}
.shark-baby {
    width: 180px;
    padding-top: 100px;
    margin: -220px;
}

@keyframes sharks {
    0% {
        transform: translateX(110vw);
    }
    100% {
        transform: translateX(-100vw);
    }
}
